.bill-card {
  background: var(--color-neutral-100);
  border: var(--shape-border-width-1) solid var(--color-neutral-300);
  border-radius: var(--shape-border-radius-2);
  padding: var(--spacing-medium);
}

.bill-card__wrapper {
  display: grid;
  gap: var(--spacing-medium);
}

.bill-card__top {
  align-items: center;
  display: flex;
}

.bill-card__eyebrow {
  font: var(--type-body-1-strong-font);
  letter-spacing: var(--type-body-1-strong-letter-spacing);
  margin: 0;
}

.bill-card__bill-card {
  align-items: center;
  background: var(--color-neutral-50);
  border: var(--shape-border-width-1) solid var(--color-neutral-300);
  border-radius: var(--shape-border-radius-2);
  box-shadow: var(--shape-shadow-3);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  justify-content: space-between;
  padding: var(--spacing-medium);
}

.bill-card__bill-meta {
  display: grid;
  gap: var(--spacing-xxsmall);
}

.bill-card__bill-label {
  color: var(--color-neutral-700);
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
  margin: 0;
}

.bill-card__bill-amount {
  color: var(--color-brand-700);
  font: var(--type-display-3-font);
  letter-spacing: var(--type-display-3-letter-spacing);
  margin: 0;
}

.bill-card .button.disabled {
  pointer-events: none;
}

@media (min-width: 900px) {
  .bill-card {
    padding: var(--spacing-big);
  }

  .bill-card__bill-card {
    flex-direction: row;
  }
}
