.dynamic-media-image-wrapper,
.dynamicmedia-image-wrapper {
  margin-inline: auto;
  max-width: 100%;
  text-align: center;
  width: 100%;
}

.dynamic-media-image-wrapper picture,
.dynamicmedia-image-wrapper picture {
  display: inline-block;
  line-height: 0;
  max-width: 100%;
}

.dynamic-media-image-wrapper img,
.dynamicmedia-image-wrapper img {
  border-radius: var(--shape-border-radius-2);
  height: auto;
  max-width: 100%;
}
